.Button--primary {
  text-decoration: none;
  color: #131921;
  background: #a7cffb;
  box-shadow: 3px 3px #ff9266;
  padding: 0.5rem 2rem;
  text-align: center;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  height: 2.25rem;
  font-family: 'Press Start 2P', monospace;
  letter-spacing: 0.1em;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.Button--primary:hover, .Button--primary:focus, .Button--primary:active {
  color: #ff9266;
  cursor: pointer;
  text-decoration: underline;
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #ff9266;
}

.Button--secondary {
  text-decoration: none;
  color: #131921;
  border: none;
  background: #ff9266;
  box-shadow: none;
  padding: 0.5rem 1rem;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  height: 2.75rem;
  font-weight: bold;
  font-family: 'Press Start 2P', monospace;
  letter-spacing: 0.1em;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.Button--secondary:hover, .Button--secondary:focus, .Button--secondary:active {
  cursor: pointer;
  text-decoration: underline;
  transform: translate(-5px, -5px);
  color: #a7cffb;
  box-shadow: 5px 5px #a7cffb;
}
.Button--secondary:disabled:hover, .Button--secondary:disabled:focus, .Button--secondary:disabled:active {
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.Button--tertiary {
  text-decoration: none;
  color: #FBCFB6;
  border: none;
  background: #be612e;
  box-shadow: none;
  padding: 0.5rem 1rem;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  height: 2.75rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.Button--tertiary:hover, .Button--tertiary:focus, .Button--tertiary:active {
  cursor: pointer;
  text-decoration: underline;
  color: #FBCFB6;
}

button:disabled:hover, button:disabled:focus, button:disabled:active {
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}


@media screen and (min-width: 500px) {
  .Button--primary {
    font-size: 1.125em;
  }

  .Button--secondary {
    font-size: 1.0625em;
  }
}