.Button--primary {
  text-decoration: none;
  color: #131921;
  background: #a7cffb;
  box-shadow: 3px 3px #ff9266;
  padding: 0.75rem;
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 0.1em;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.Button--primary:hover, .Button--primary:focus, .Button--primary:active {
  color: #ff9266;
  cursor: pointer;
  text-decoration: underline;
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #ff9266;
}
.Button--secondary {
  text-decoration: none;
  color: #131921;
  border: none;
  background: #f5ab82;
  box-shadow: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  font-family: 'Amatic SC', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.3em;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.Button--secondary:hover, .Button--secondary:focus, .Button--secondary:active {
  cursor: pointer;
  text-decoration: underline;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px #ff9266;
}