.color-black { color: #131921; }
.color-gray { color: #aaa; }
.color-shark-blue { color: #6d9cd0; }
.color-ice-blue { color: #bcd1e7; }
.color-electric-blue { color: #2F98D3; }
.color-teal { color: #3ad0ea; }
.color-burnt-orange-light { color: #FBCFB6; }
.color-burnt-orange { color: #f5ab82; }
.color-burnt-orange-dark { color: #be612e; }
.color-tangerine { color: #ff9266; }

.bg-black { background : #131921; }
.bg-white { background: #fff; }
.bg-burnt-orange-light { background: #FBCFB6; }
.bg-burnt-orange { background: #f5ab82; }
.bg-burnt-orange-dark { background: #be612e; }
.bg-shark-blue { background: #6d9cd0; }
.bg-shark-blue-light { background: #a7cffb; }
.bg-ice-blue { background: #bcd1e7; }

.border-black { border: 1px solid #131921; }
.border-burnt-orange { border: 1px solid #f5ab82; }
.border-burnt-orange-dark { border: 1px solid #be612e; }
