/* general */
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

.position-absolute { position: absolute; }
.position-relative { position: relative; }
.position-fixed { position: fixed; }

.overflow-hidden { overflow: hidden; }
.circle { border-radius: 50%; }

.flex { display: flex }
.flex-1 { flex: 1; }
.flex-none { flex: none; }
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-col { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-even { justify-content: space-evenly; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.self-justify-center { justify-self: center; }
.self-justify-end { justify-self: end; }
@media screen and (min-width: 770px) {
  .flex { display: flex }
  .md-flex-1 { flex: 1; }
  .md-flex-none { flex: none; }
  .md-flex-row { flex-direction: row; }
  .md-flex-row-reverse { flex-direction: row-reverse; }
  .md-flex-col { flex-direction: column; }
  .md-flex-col-reverse { flex-direction: column-reverse; }
  .md-justify-start { justify-content: flex-start; }
  .md-justify-center { justify-content: center; }
  .md-justify-end { justify-content: flex-end; }
  .md-justify-between { justify-content: space-between; }
  .md-justify-even { justify-content: space-evenly; }
  .md-align-start { align-items: flex-start; }
  .md-align-center { align-items: center; }
  .md-align-end { align-items: flex-end; }
  .md-self-justify-center { justify-self: center; }
  .md-self-justify-end { justify-self: end; }
}

.w100 { width: 100%; }
.h100 { height: 100%; }
.vw100 { width: 100vw; }
.vh100 { height: 100vh; }

.p_5 { padding: 0.5rem; }
.pr_5 { padding-right: 0.5rem; }
.pl_5 { padding-left: 0.5rem; }
.pt_5 { padding-top: 0.5rem; }
.pb_5 { padding-bottom: 0.5rem; }
.px_5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py_5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p1 { padding: 1rem; }
.pr1 { padding-right: 1rem; }
.pl1 { padding-left: 1rem; }
.pt1 { padding-top: 1rem; }
.pb1 { padding-bottom: 1rem; }
.px1 { 
  padding-left: 1rem;
  padding-right: 1rem;
}
.py1 { 
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p1_5 { padding: 1.5rem; }
.pr1_5 { padding-right: 1.5rem; }
.pl1_5 { padding-left: 1.5rem; }
.pt1_5 { padding-top: 1.5rem; }
.pb1_5 { padding-bottom: 1.5rem; }
.px1_5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py1_5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.p2 { padding: 2rem; }
.pr2 { padding-right: 2rem; }
.pl2 { padding-left: 2rem; }
.pt2 { padding-top: 2rem; }
.pb2 { padding-bottom: 2rem; }
.px2 { 
  padding-left: 2rem;
  padding-right: 2rem;
}
.py2 { 
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p4 { padding: 4rem; }
.pr4 { padding-right: 4rem; }
.pl4 { padding-left: 4rem; }
.pt4 { padding-top: 4rem; }
.pb4 { padding-bottom: 4rem; }
.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mauto { margin: auto; }
.mlauto { margin-left: auto; }
.mrauto { margin-right: auto; }
.mxauto {
  margin-left: auto;
  margin-right: auto;
}
.myauto {
  margin-top: auto;
  margin-bottom: auto;
}
.m_25 { margin: 0.225rem; }
.mr_25 { margin-right: 0.225rem; }
.ml_25 { margin-left: 0.225rem; }
.mt_25 { margin-top: 0.225rem; }
.mb_25 { margin-bottom: 0.225rem; }
.mx_25 {
  margin-left: 0.225rem;
  margin-right: 0.225rem;
}
.my_25 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.m_5 { margin: 0.5rem; }
.mr_5 { margin-right: 0.5rem; }
.ml_5 { margin-left: 0.5rem; }
.mt_5 { margin-top: 0.5rem; }
.mb_5 { margin-bottom: 0.5rem; }
.mx_5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my_5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.m1 { margin: 1rem; }
.mr1 { margin-right: 1rem; }
.ml1 { margin-left: 1rem; }
.mt1 { margin-top: 1rem; }
.mb1 { margin-bottom: 1rem; }
.mx1 { 
  margin-left: 1rem;
  margin-right: 1rem;
}
.my1 { 
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m1_5 { margin: 1.5rem; }
.mr1_5 { margin-right: 1.5rem; }
.ml1_5 { margin-left: 1.5rem; }
.mt1_5 { margin-top: 1.5rem; }
.mb1_5 { margin-bottom: 1.5rem; }
.mx1_5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my1_5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.m2 { margin: 2rem; }
.mr2 { margin-right: 2rem; }
.ml2 { margin-left: 2rem; }
.mt2 { margin-top: 2rem; }
.mb2 { margin-bottom: 2rem; }
.mx2 { 
  margin-left: 2rem;
  margin-right: 2rem;
}
.my2 { 
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Resets */
body {
  margin: 0;
}
p, img, div, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
iframe {
  border: none;
}
textarea, select, input, button { outline: none; }

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/* Assumed Breakpoints
$breakpoints: (
  'xs': 365px, // iphone SE (320px) and down
  'sm': 500px, // iphone X (375px) and phablets
  'md': 770px, // ipad and smaller browser window
  'lg': 1024px, // laptop
  'xl': 1450px // large desktop
) !default;
*/