a {
  text-decoration: none;
  color: #6d9cd0;
  border: none;
  box-shadow: none;
}
a:hover, a:focus, a:active {
  cursor: pointer;
  text-decoration: underline;
}

.title {
  font-size: 2rem;
}
.heading {
  font-size: 1.5rem;
}
.subheading {
  font-size: 1.25rem;
}
.copy {
  font-size: 0.9rem;
  line-height: 1.35rem;
}
.detail {
  font-size: .75rem;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 2.25rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  .subheading {
    font-size: 1.35rem;
  }
  .copy {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }
  .detail {
    font-size: .75rem;
  }
}

.press-start-2p {
  font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
}

.amatic-sc {
  font-family: 'Amatic SC', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.3em;
}

.sans-serif {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.v-html p, .v-html li {
  font-size: 0.85rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}
.v-html h1, .v-html h2, .v-html h3, .v-html h4, .v-html h5, .v-html h6 {
  margin-bottom: 1rem;
}

.v-html-sm p, .v-html-sm li {
  font-size: 0.75rem;
  line-height: 1.2rem;
  margin-bottom: 0.25rem;
}
.v-html-sm h1, .v-html-sm h2, .v-html h3, .v-html-sm h4, .v-html-sm h5, .v-html-sm h6 {
  margin-bottom: 0.5rem;
}

.Form__input {
  background-color: #bcd1e7;
  border-color: #2D4A68;
  box-shadow: inset 0px 0px 0px 1px #2D4A68;
  box-sizing: border-box;
  border-style: solid;
  margin: 0.5rem 0;
  padding: 0.75rem 0.5rem;
  box-sizing: border-box;
}

.Form__input::placeholder {
  color: #2D4A68;
}

.Form__submit {
  border-color: #2D4A68;
  border-style: solid;
  margin: 0.5rem 0;
  padding: 0.75rem 0.5rem;
}
.Form__submit:hover, .Form__submit:active, .Form__submit:focus {
  color: #be612e;
}
